@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary text-primary;
  }
  input::placeholder {
    @apply text-primary;
  }
  .h2 {
    @apply font-primary text-[45px] mb-4;
  }
  .h3 {
    @apply text-2xl font-primary font-semibold tracking-[1px] mb-2;
  }
  .btn {
    @apply text-[15px] tracking-[3px] font-tertiary uppercase text-white flex-1 transition-all px-8 flex justify-center items-center;
  }
  .btn-sm {
    @apply h-[48px];
  }
  .btn-lg {
    @apply h-[60px];
  }
  .btn-primary {
    @apply bg-green hover:bg-accent-hover;
  }
  .btn-secondary {
    @apply bg-primary hover:bg-accent;
  }
  .btn-green {
    @apply bg-green hover:bg-accent bg-opacity-100;
  }
  .btn-white {
    @apply bg-white text-[#0a0a0a];
  }
}

body {
  background-color: rgb(242, 241, 241);
}

.custom-duration {
  animation-duration: 5000ms; /* или 3s */
}

.placeholder-style::placeholder {
  font-size: 0.875rem;
  /* Другие стили для плейсхолдера */
}

/* div {
  color: #9e8c26;
} */

/* .div {
  color: #d5c882;
} */

/* green color */
/* .div {
  color: #c1c85f;
} */

.div {
  color: #3278c3;
}
